.review {
  display: flex;
  gap: 32px;
}

.reviewImage {
  width: 100px;
  height: 100px;

  border-radius: 8px;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightTop {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
  line-height: 32px;
}

