.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 16px;
  width: 100%;
  height: 40px;

  border-radius: 8px;
  border: 1px solid var(--border-default, #E1E3E6);
  background: var(--background-primary, #FFF);

  cursor: pointer;
}

.wrapOpen {
  border: 1px solid var(--orange, #F50);
}

.input {
  width: 100%;
  height: 100%;

  border: none;

  color: var(--text-primary, #1B1F23);
  font-size: 14px;
  font-family: var(--font-SFProText);
  line-height: 20px;

  user-select: none;
  pointer-events: none;
}

.input::placeholder {
  color: var(--text-tertiary, #999FA6);
}

.icon {
  display: flex;
  width: 20px;
  height: 20px;
  color: var(--icons-tertiary, #999FA6);
}

.wrapFocus .icon {
  transform: rotate(180deg);
}

.list {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 8px;
  margin-top: 4px;

  border-radius: 8px;
  background: var(--background-primary, #FFF);
  box-shadow: 0px 10px 22px -4px rgba(27, 31, 35, 0.12);
}

.item {
  display: flex;
  height: 42px;
  padding: 12px;

  cursor: pointer;

  color: var(--text-primary, #1B1F23);
  font-size: 14px;
  font-family: var(--font-SFProText);
  line-height: 20px;
}
