.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 20px;
  height: 20px;
  padding: 4px;

  border-radius: 4px;
  background: var(--orange, #F50);
  cursor: pointer;
}

.button:hover {
  background: var(--orange-hover, #E94E00);
}

.button:disabled,
.button[disabled] {
  background: var(--orange-disabled, #FFA375);
}
