.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;

  background: var(--color-gray);
}

.link {
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-size: 20px;
}