:root {
  --color-white: #FFFFFF;
  --color-white-smoky: #F5F5F5;
  --color-gray: #333333;
  --color-black: #1B1F23;

  --text-primary: #1B1F23;
  --text-tertiary: #999FA6;

  --border-default: #E1E3E6;

  --background-primary: #FFF;

  --white: #FFF;
  --orange: #F50;
  --orange-hover: #E94E00;
  --orange-disabled: #FFA375;

  --icons-tertiary: #999FA6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;

  /*border: 10px solid var(--gray-1, #333);*/
  background: var(--color-white-smoky);

  font-family: var(--font-roboto);
}

main {
  flex-grow: 1;
  padding: 24px 32px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

input:focus {
  outline: 0;
}

